*{
    padding: 0;
    margin: 0;
}
header{
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
        
}
header > button{
    margin: 40px;
    margin-right: 70px;
    padding: 8px 60px;
    padding-left: 10px;
    
}
footer{
    background-color: slategray;
    padding: 30px;
    color: white;
}
footer > h1{
    text-align: center;
}
div > div{
    margin: 20px 0px;
    text-align: center;
}
